# IntelliJ project files
.idea
*.iml

# devDependencies
node_modules
web_modules

#Source Code
test
src
.eslintrc
.jscsrc

#Build File
webpack.config.js
build.js

# Backup File
*.bak

# Video File
*.mp4
*.ogv
*.webm